# Buat proyek gratis di https://supabase.com lalu isi nilai berikut
# dari Project Settings > API di dashboard Supabase kamu.

NEXT_PUBLIC_SUPABASE_URL=https://oohhqrxrxbxwjebzfsrc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vaGhxcnhyeGJ4d2plYnpmc3JjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNDk2NDcsImV4cCI6MjEwMzkyNTY0N30.qP1zbK7_BKNuf_EucsdiRkQpgGaLjo5o7Zm5jWm9ufM
